.header {
	padding: 17px 0px;
	border-bottom: 1px solid #d6d6d6;
	line-height: 1;
}
.header-row {
	display: flex;
	align-items: center;
}
.header-logo {
	margin-right: 172px;
}
.header-nav {
	color: #292929;
	font-weight: 500;
}
.header-nav ul {
	display: flex;
}
.header-nav ul li:not(:last-child) {
	/*або li + li*/
	margin-right: 70px;
}
.header-nav a {
	transition: color 0.2s ease-in;
}
.header-nav a:hover {
	color: #01996d;
}
.header-login {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.header-login > * + * {
	margin-left: 35px;
}
.header-login a {
	margin-top: -1px;
	color: rgb(90, 37, 37);
	transition: color 0.2s ease-in;
}
.header-login a:hover:not(:last-child) {
	color: #01996d;
}
@media (max-width: 1199px) {
	.header-row {
		justify-content: space-between;
	}
	.header-nav {
		margin-left: 30px;
	}
	.header-nav ul li:not(:last-child) {
		/*або li + li*/
		margin-right: 50px;
	}
	.header-login {
		margin-left: 30px;
	}
}
@media (max-width: 991px) {
	.header-nav {
		display: none;
	}
	.header-login {
		display: none;
	}
}
