.home {
	position: relative;
	padding: 175px 0px;
	max-height: 830px;
}
.home-content {
	max-width: 440px;
}
.home-heading {
	color: #01996d;
	font-weight: 700;
	font-size: 65px;
	font-family: 'Georgia', serif;
	margin-bottom: 30px;
}
.home-text {
	color: #484848;
	line-height: 144.5%;
	margin-bottom: 53px;
	max-width: 430px;
}
.home-btn {
	display: flex;
}
.home-bg-img {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}
.home-bg-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
